:root {
    --new-topic-form-bg-color: #505050;
    --new-topic-form-border-color: #6d6d6d;
}

[data-theme="light"] {
    --new-topic-form-bg-color: #fafbfc;
    --new-topic-form-border-color: #a7a7a7;

}

.new-topic-form{
    box-sizing: border-box;
    background-color: var(--new-topic-form-bg-color);
    border: 1px solid var(--new-topic-form-border-color);
    border-radius: 4px;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.new-topic-content .profile-avatar{
    width: 38px;
}

.new-topic-content .new-topic-title{
    display: grid;
    grid-template-columns: 40px 1fr ;
    grid-column-gap: 8px;
    padding: 8px;
    padding-bottom: 0;

}

.new-topic-content .new-topic-body{
    padding-top: 8px;
    margin-bottom: 0;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 120px;
    grid-column-gap: 8px;

}

.new-topic-content button{
    margin: 0;
    max-height: 38px;
}

@media only screen and (max-width: 600px) {

    .new-topic-form {
        padding: 7px 7px;
    }

    .new-topic-content .new-topic-body{
        grid-column-gap: 2px;
        grid-template-columns: 1fr 40px;
    }

}
