/* -----------------------
Base styles
------------------------*/


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9b9b9b;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9b9b9b;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9b9b9b;
}


body {
    margin: 0;
    padding: 0;
    color: #b8b8b8;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    background: #292929;
}

a{
    text-decoration: none !important;
    font-weight:bold;
}

a:link {
    color:#d0d0d0;
}

a:visited {
    color: #c0c0c0;
}

a:focus {
    color: #a3a2a2;
}

a:hover {
    color:#ffffff;
}

a:active {
    color:#f0f0f0;
}



h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2.25em;
}

/* 36px */
h2 {
    font-size: 1.75em;
}

/* 28px */
h3 {
    font-size: 1.375em;
}

/* 22px */
h4 {
    font-size: 1.125em;
}

/* 18px */
h5 {
    font-size: 1em;
}

/* 16px */
h6 {
    font-size: .875em;
}

/* 14px */

p {
    margin: 0 0 1.5em;
    line-height: 1.5;
}

span {
    color: #9c9b9b;
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

th, td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* -----------------------
Layout styles
------------------------*/

.header {
    color: #0d052f;
    background: #222;
    padding: 2px 20px 0;
}

/* Create two unequal columns that floats next to each other */
.column {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    margin: 0 auto;
    width: 100%;
}

.left {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    padding: 0 10px;
    margin: 0 auto;
}

.right {
    display: inline-block;
    width: 35%;
}

.row{
    padding-top: 20px;
    margin: auto;
    /*max-width: 900px;*/
    display: flex;
}

/* Clear floats after the columns */
.row:after {
}

.header-heading {
    margin: 0;
}

/**
    logo
 */
.header .logo {
    height: 40px;
    display:inline-block;
    padding-right: 10px;
}

.header .logoText{
    display:inline-block;
    font-size: 28px;
    position: relative;
    top: -10px;
}

.header .headerRight {
    display: inline-block;
    float: right;
}


.headerRight a{
    padding-right: 10px;
}

.header .country-select{
    display: inline-block;
    min-width: 300px;
}

.footer {
    text-align: center;
    background: #2f2222;
    padding: 1em 1.25em;
}

/* -----------------------
Nav
------------------------*/

.nav-bar {
    font-size: 12px;
    background: #222;
    border-bottom: solid 1px #484848;
    display: grid;
    grid-template-columns: 180px 1fr;
}

.nav-bar, .nav {
    height: 30px;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.nav li .bold {
    font-weight: bold;
}

.nav a {
    text-decoration: none;
    color: #a3a2a2;
    padding: 8px;
    display: inline-block;
    height: 14px;
}

.nav-bar a:hover{
    background: #2a2a2a!important;
    color: #fff;
}

.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.sticky + .layoutContent {
}


/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.btn {
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff !important;
    background-color: green;
}

.btn:focus {
    color: #fff !important;
    background-color: black;
}

.btn:active {
    color: #fff !important;
    background-color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

/**
    HERO
 */

.hero {
    display: block;
    flex-direction: row;
    height: 192px;
    min-width: 260px;
    background: url( https://styles.redditmedia.com/t5_2cneq/styles/bannerBackgroundImage_6yzzdjhguh521.jpeg?format=pjpg&s=8c0a444089bdc858bd2764f5376352e7c5d27f5a) center top / cover no-repeat rgb(0, 112, 193);
    background-position: center top;
    margin: 0px auto;
}

.heroBox{
    margin-left: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hero .logo{
    top: -50%;
    position: absolute;

    float: left;
    margin-right: 8px;
    box-sizing: border-box;
    height: 56px;
    width: 56px;
    background: url( …) center center / 100% no-repeat rgb(32, 84, 147);
    border-radius: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero .title{
    padding-left: 70px;
    color: white;
}


/** Forms
 */
textarea,
input[type=text],
input[type=password],
select {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: #313131;
    border: solid 1px #585858;
    color: #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    resize: vertical;
    margin: 0;
    min-height: 38px;
    height: 38px;
    max-height: 200px;
    font-size: 12px;
}

button,
input[type=submit],
input[type=button] {
    background-color: #fec02c;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    border:none;
}

button,
input[type=submit]:hover,
input[type=button]:hover {
    background-color: #ffd164;
}

button{
    background-color: #5cbcf6;
}

button:hover{
    background-color: #0e83cd;
}

form {
    border-radius: 5px;
    background-color: #222222;
    padding: 10px;
    border: solid 1px #323232;
}

.formLink{
    display: inline;
    white-space: nowrap;
}

.commentSlug{
    font-size: 12px;
}

/**

    STICKY BUTTONS

 */

.btn-floating-container {
    right: 50px;
    bottom: 50px;
    position: fixed;
}

.btn-floating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.075);
    text-align: center;
    padding: 0px;
    font-size: 24px;
    margin-left: 10px;
}


/*
    MODALS
 */

.modalBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.9);
}

.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff5f5;
    border: solid 1px #000000;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 0;
    width: 600px;

}

.close-button {
    position: absolute;
    top: -30px;
    right: 0;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #fff5f5;
    border: solid 1px #000000;
    color: black;
}

.close-button:hover {
    background-color: #4c4c4c;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/**
    TOPIC
 */

.topic{
    border-width: 1px;
    border-style: solid;
    width: 100%;
    background-color: #3c3c3c;
    margin-bottom: 20px;
    border-color: rgb(68, 68, 68);
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
}

.topic:hover{
    /*background-color: #484848;*/
    /*border-color: rgb(86, 86, 86);*/
    transition: all 0.2s ease
}

.comment {
    /*background-color: #5d5d5d;*/
    /*border: solid 1px #686868;*/
    /*border-radius: 10px;*/
    /*border-bottom: solid 1px #5c5c5c;*/
    padding: 0 0 10px 0;
    /*margin-bottom: 10px;*/
}

.comment:hover{
    background-color: #373737;
    /*border: solid 1px #878787;*/
    transition: all 0.2s ease
}

.comment:nth-last-child(1){
    margin-bottom: 0;
    border-bottom: none;
}

.comment .topicBox .topicContent .author{
    background: #474747;
    padding: 0 10px;
}


.topicBox{
    display: grid;
    grid-template-columns: 40px 1fr;
}


.commentBox{
}

.topicComments{
    /*border-top: solid 1px #5c5c5c;*/
    margin-top: 20px;
    /*padding-top: 10px;*/
}

.actionBox{
    padding: 10px;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-color: #494949;
    background-color: #474747;
    margin-top: 10px;
    margin-bottom: 10px;
}

.topic h2{
    font-size: 20px;
}

.topicBox .topicContent .author{
    background: #474747;
    padding: 0 10px;
}

.topicBox .topicContent .author a,
.topicBox .topicContent .author .details {
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
}

.topicBox .topicContent .author .details{
    color: #a8a8a8;
}

.topicImage{
    max-width: 150px;
    max-height: 200px;
}

.topicImageWrap{
    float: left;
    padding-bottom: 3px;
    cursor: pointer;
    z-index: 10;
}

.topicPreviewLink{
    white-space: nowrap;
    font-size: 11px;
}

.topicTextWrap{
}

.topicTextWrap .title{
    color: #fff;
}

.topicTextWrap .topicBody{
    color: #fff;
}

.topicComments .topicBody{
    padding: 5px 10px;
}

.topicBody{
    word-break: break-all;
    white-space: pre-wrap;
    margin-bottom: 0;
    font-size: 14px;
    color: #ffffff;
    line-height: 20px;
    padding-bottom: 10px;
}

.topicButtons{
    display: inline-block;
    float:right;
}

.topicButtons span{
    color: #787878;
    cursor: pointer;
    font-size: 12px;
}


/***
        VOTING
 */
.votingBox{
    padding-left: 0px;
    padding-top: 10px;
    text-align: center;
}


.upvote {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #9b9b9b;
    margin: 0 auto;
    margin-bottom: 7px;
    cursor: pointer;
}

.upvote:after {
    width: 4px;
    height: 6px;
    background-color: #9b9b9b;
    content: '';
    position: absolute;
    margin-top: 8px;
    margin-left: -2px;
    cursor: pointer;
  }

.votingBox span{
    padding-left: 0;
    color: #9b9b9b;
    font-size: 14px;
}

.downvote {
    margin: 0 auto;
    margin-top: 7px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #9b9b9b;
    cursor: pointer;
}

.downvote:after {
    width: 4px;
    height: 6px;
    background-color: #9b9b9b;
    content: '';
    position: absolute;
    margin-left: -2px;
    margin-top: -14px;
    cursor: pointer;
}

.voted{
    border-top-color: red;
    border-bottom-color: red;
    cursor: default;
}

.voted:after{
    background-color: red;
    cursor: default;
}

/**
    Right Sidebar
 */

.rightSidebar{
    width: 100%;
}

.stickySidebar{
}

.rightSidebarClose{
    float: right;
    cursor: pointer;
}

/**
    Alert
 */

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 10px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.errorText{
    color: #f20;
    text-align: center;
    width: 100%;
    display: block;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}


/**
    infinite scroll
 */
.infiniteScroll{
    text-align: center;
}

.pagination{
    display: none;
}

.topicBoxContent{
    display: block;
    margin-top: 10px;
}

.topicComments .topicBoxContent{
    margin-top: 0;
}

.topicHasImage,
.commentHasImage {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
}

.authorName{
    font-weight: bold;
}

.viewMoreComments{
    display: inline-block;
    padding: 0 20px 20px 0;
    color: #b8b8b8;
    font-size: 12px;
}

.actionButton{
    cursor: pointer;
    display: inline-block;
    padding-right: 10px;
    color: #b8b8b8;
    font-size: 12px;
}

.author .actionButton{
    /*padding: 0 10px 0 0;*/
}

.actionButton:hover{
    text-decoration: underline!important;
    color: #fff;
}

.replayButton{
    color: #9ed963;
}

.postId{
    margin-left: 10px;
    padding: 0;
}

.externalLink{
    display: block;
    font-size: 12px;
    text-align: justify;
    color: #fff;
}

.replyBox{
    display: grid;
    grid-template-columns: 40px 1fr 50px;
    grid-column-gap: 10px;
    padding: 10px 0;
}

.replyBox .profileAvatar{
    width: 38px;
}

.replyBox .uploadPhoto{
    width: 24px;
    padding: 5px;
    margin: 0 auto;
    box-sizing: content-box;
    display: block;
    cursor: pointer;
    position: relative;
}

.replyBox .uploadPhoto:hover{
    width: 28px;
    transition: all 0.5s ease;
}

.profileAvatar{
    border-radius: 50%;
}

.replyBox textarea, .replyBox input{
    display: block;
    width: 100%;
    background: #313131;
    border: solid 1px #585858;
    color: #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    resize: vertical;
    margin: 0;
    min-height: 38px;
    height: 38px;
    max-height: 200px;
    font-size: 12px;
}

textarea:focus, input:focus{
    border-color: #715e38 !important;
    background-color: #292929!important;
}

.messageBox{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-column-gap: 10px;
    padding: 10px 0;
}

.messageBox textarea{
    display: block;
    width: 100%;
    background: #313131;
    border: solid 1px #585858;
    color: #dcdcdc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    resize: vertical;
    min-height: 38px;
    height: 38px;
    max-height: 200px;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
}

.newPostContainer{
    box-sizing: border-box;
    background-color: #505050;
    border: solid 1px #6d6d6d;
    padding: 10px 15px;
    margin-bottom: 20px;
}

.newPostContainer .newPostTitle{
    color: #a8a8a8;
}

.newPostContent .replyBox{
    padding-bottom: 0;
    grid-template-columns: 40px 1fr 30px;
}

.newPostContent .messageBox{
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

.postButton{
    background-color: #fec02c;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.postButton:hover{
    background-color: #ffd164;
    transition: all 0.5s ease;
}

.votingBox span{
    margin-left: 1px;
}

.sideReplyBox{
    background-color: #3c3c3c;
    padding: 10px;
    color: #fff;
}

.topicPage{
    display: grid;
    grid-template-columns: 1fr 400px;
}

.replyRightBox{
    width: 100%;
    padding: 0 10px;
}

.menuButton{
    line-height: 44px;
}

.menuButton:hover{
    color: #fff!important;
}

.form label {
    color: #9c9b9b;
}

.form input{
    margin-bottom: 10px;
}

.form input:focus{
    outline: none;
    background-color: #ffdb85;
}

.form .multiselect{
    margin-bottom: 10px;
}

.form .multiselect__single{
    margin-top: 8px;
}


.captchaBox{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 100px 100px 1fr;
    grid-column-gap: 10px;
}

.captchaBox svg{
    width: auto;
    height: 35px;
}

.captchaBox button{
    margin-top: 0;
}


.popup h1{
    text-align: center;
    margin-top: 20px;
    color: #bbb;
}

.popup{
    display: block;
}

.popup form{
    max-width: 500px;
    margin: 0 auto;
}

.multiselect__content-wrapper{
    background: #919191!important;
    border: 1px solid #7c7c7c!important;
}

.multiselect__option--highlight{
    background: #ffdb85!important;
    color: #000!important;
}

.multiselect__tags input{
    min-height: 35px!important;
    width: 98%;
    height: 35px!important;
    background: #323232!important;
    margin-top: -7px!important;
}

.loadingSpinner path{
    fill: #a8a8a8;
}

.hiddenDesktop{
    display: none;
}



/*
    MULTI SELECT
 */

.flagImg{
    position: relative;
    top: 10px;
    z-index: 50;
    left: 5px;
    height: 12px;
    padding-right: 10px;
}



.multiselect{
    width: 100% !important;
    z-index: 10 !important;
    height: 30px;
    min-height: 30px;
}

.multiselect input{
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    min-height: 20px !important;
    height: 20px !important;
    font-size: 16px;
}

.multiselect .multiselect__single{

    top: 6px;
    z-index: 3 !important;
    white-space: nowrap;
    background-color: transparent;

    color: #9f9e9e;
    width: 95%;
    font-size: 14px;
    overflow: initial;
}


.multiselect__content-wrapper {
    z-index: 3 !important;
}


.multiselect__tags {
    border-radius: 0;
    border: none;
    background-color: #323232;
    padding: 0 40px 0 10px;

    min-height: 30px;
    height: 30px;
}

.multiselect__input{
    top: 6px;
}

.multiselect__input::placeholder{
    color: #9f9e9e;
    opacity: 1; /* Firefox */
    font-size: 14px;
}

.multiselect__select{
    height: 36px;
    top: -3px;
}

.option__title{
    color: black;
}

.option__desc{
    line-height: 13px;
    font-size: 14px;
}

.option__flag{
    display: inline-block;
    position: relative;
    verticalAlign: middle;
    padding-top:11px !important;
}

@media only screen and (max-width: 600px) {


}


@media only screen and (max-width: 600px) {

    .nav-bar {
        grid-template-columns: 150px 1fr;
    }

    .header, .headerRight{
        height: 35px;
    }

    .header{
        padding-left: 5px;
        padding-right: 1px;
    }

    .header .logo{
        max-height: 32px;
        padding-right: 3px;
    }

    .header .logoText{
        font-size: 20px;
    }



    .header .headerRight a{
        font-size: 12px;
        padding-right: 5px;
        position: relative;
        top: -5px;
    }

    .topicBox{
        grid-template-columns: 20px 1fr;
    }

    .replyBox{
        grid-column-gap: 0;
        grid-template-columns: 40px 1fr 30px;
    }

    .sideReplyBox{
        padding: 0
    }

    .newPostContainer{
        padding: 7px 7px;
    }

    .messageBox{
        grid-column-gap: 0px;
    }

    .captchaBox{
        grid-template-columns: 90px 1fr;
        grid-row-gap: 5px;

    }

    .captchaBox :nth-child(3) {
        grid-column: 1 / -1;
    }


    .topicHasImage,
    .commentHasImage {
        grid-template-columns: 1fr;
    }

    .topicImage{
        width: 100%;
        max-width: 1000px;
        max-height: 1000px;
        min-width: 0;
        min-height: 0;
        height: auto;
    }

    .topicButtons{
        display: none;
    }

    .hiddenMobile{
        display: none;
    }

    .hiddenDesktop{
        display: initial;
    }


    .multiselect__option{
        padding: 6px !important;
        min-height: 29px !important;;
        line-height: 14px !important;;
    }

}