/* -----------------------
Base styles
------------------------*/


/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
    width: 8px; /* 1px wider than Lion. */
    /* This is more usable for users trying to click it. */
    background-color: rgba(0,0,0,0);
    -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.09);
}

/* The scrollbar 'thumb' ...that marque oval shape in a scrollbar */
::-webkit-scrollbar-thumb:vertical {
    /* This is the EXACT color of Mac OS scrollbars.
       Yes, I pulled out digital color meter */
    background: rgba(0,0,0,0.5);
    -webkit-border-radius: 100px;
}
::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(0,0,0,0.61); /* Some darker color when you click it */
    -webkit-border-radius: 100px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #9b9b9b;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #9b9b9b;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #9b9b9b;
}

:root {
    --bg-color: #292929;

    --primary-color: #b8b8b8;
    --secondary-color: #9c9b9b;
    --font-color: white;

    --header-first-bg-color: #222;
    --header-first-border-color: #303030;

    --header-bg-color: #222;
    --header-border-color: #303030;

    --a-link-color:#d0d0d0;
    --a-link-visited: #c0c0c0;
    --a-link-focus: #3a3a2a2;
    --a-link-active: #f0f0f0;
    --a-link-hover: white;

    --edit-bg: #313131;
    --edit-border-color: #585858;
    --edit-color: #dcdcdc;

    --button-bg-color: #f9de84;
    --button-hover-bg-color: #fed54c;
    --button-content-color: black;

    --form-bg-color: #222222;
    --form-border-color: #323232;

    --multiselect-bg-color: #323232;
}

[data-theme="light"] {
    --bg-color: #dae0e6;

    --primary-color: #828282;
    --secondary-color: #586069;
    --font-color: black;

    --header-first-bg-color: #f3f3f3;
    --header-first-border-color: #d9d9d9;

    --header-bg-color: white;
    --header-border-color: #d9d9d9;

    --a-link-color:#586069;
    --a-link-visited: #687079;
    --a-link-focus: #586069;
    --a-link-active: #586069;
    --a-link-hover: black;

    --edit-bg: #fcfcfc;
    --edit-border-color: #d1d5da;
    --edit-color: #586069;

    --form-bg-color: #fafbfc;
    --form-border-color: #e1e4e8;

    --button-content-color: #28a745;

    --multiselect-bg-color: #e3e3e3;
}

body {
    margin: 0;
    padding: 0;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
    color: var(--primary-color);
    background: var(--bg-color);
}

a{
    text-decoration: none !important;
    font-weight:normal;
}

a:link {
    color:var(--a-link-color);
}

a:visited {
    color: var(--a-link-visited);
}

a:focus {
    color: var(--a-link-focus);
}

a:hover {
    color: var(--a-link-hover);
}

a:active {
    color: var(--a-link-active);
}



h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2.25em;
}

/* 36px */
h2 {
    font-size: 1.75em;
}

/* 28px */
h3 {
    font-size: 1.375em;
}

/* 22px */
h4 {
    font-size: 1.125em;
}

/* 18px */
h5 {
    font-size: 1em;
}

/* 16px */
h6 {
    font-size: .875em;
}

/* 14px */

p {
    margin: 0 0 1.5em;
    line-height: 1.5;
}

i, span {
    color: var(--secondary-color);
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr {
    height: 0;
    margin-top: 1.4em;
    margin-bottom: 1.4em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

th, td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


/* -----------------------
Layout styles
------------------------*/

/* Create two unequal columns that floats next to each other */
.column {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    margin: auto;
    margin-top: 0;
    width: 100%;
    max-width: 1200px;
}

.left {
    display: inline-block;
    width: 100%;
    max-width: 800px;
    padding-right: 10px;
    margin-left:auto;
    margin-right:0;
}

.right {
    margin-left: 0;
    margin-right: auto;
}

.center {
    margin: auto;
}

.row{
    padding-top: 20px;
    margin: auto;
    /*max-width: 900px;*/
    display: flex;
}

/* Clear floats after the columns */
.row:after {
}

.word-wrap{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.bold {
    font-weight: bold;
}

.btn {
    color: #fff !important;
    background-color: royalblue;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff !important;
    background-color: green;
}

.btn:focus {
    color: #fff !important;
    background-color: black;
}

.btn:active {
    color: #fff !important;
    background-color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}


.fa{
    margin: 0 auto;
    box-sizing: content-box;
    cursor: pointer;
    position:relative;
    top: calc(50% - 10px); /* 50% - 3/4 of icon height */
}

.fa:hover{
    color: var(--font-color);
}


/* -----------------------
Wide styles
------------------------*/


/** Forms
 */
textarea,
input,
select {
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    background: var(--edit-bg);
    border: solid 1px var(--edit-border-color);
    color: var(--edit-color);
    border-radius: 10px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    resize: vertical;
    margin: 0;
    min-height: 38px;
    height: 38px;
    max-height: 150px;
    font-size: 12px;
}


button,
inout[type=checkbox],
input[type=submit],
input[type=button] {
    background-color: var(--button-bg-color);
    text-align: center;
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    width: 100%;
    border:none;
}

button:hover{
    background-color: var(--button-hover-bg-color);
}

button i,
button span{
    color: var(--button-content-color);
}

button i:hover{
    color: var(--button-content-color) !important;
}

label:has( input ) {
    display: inline-block;
    cursor: pointer;
}
input[type=checkbox]{
    display: inline-block;
    width: initial;
    height: 17px;
    min-height: 17px;
}

label input[type=checkbox]{
    position: relative;
    top: 3px;
}


form {
    border-radius: 5px;
    background-color: var(--form-bg-color);
    border: solid 1px var(--form-border-color);
    padding: 10px;
}

.input-file-upload-group{
    position: relative
}

.input-file-upload-group input{
    padding-right: 43px;
}

.input-file-upload-group textarea {
    padding-right: 25px;
}


.input-file-upload-group i{
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 22px;
}

.input-file-upload-group i:hover{
    top: 5px;
}

.input-file-icon:hover{
    font-size: 30px;
    transition: all 0.5s ease;
}

.profile-avatar{
    border-radius: 50%;
}


.form label {
    color: var(--secondary-color);
}

.form input{
    margin-bottom: 10px;
}

.form input:focus{
    outline: none;
    background-color: #ffdb85;
    color: black;
}


.popup h1{
    text-align: center;
    margin-top: 20px;
}

.popup{
    display: block;
}

.popup form{
    max-width: 500px;
    margin: 0 auto;
}

.icon path{
    fill: #000000;
}

.hidden,
.hiddenDesktop{
    display: none;
}
}



@media only screen and (max-width: 900px) {

    .hiddenTablet {
        display: none;
    }

}


@media only screen and (max-width: 600px) {


    .hiddenMobile {
        display: none;
    }

    .hiddenDesktop {
        display: initial;
    }


    .multiselect__option {
        padding: 6px !important;
        min-height: 29px !important;;
        line-height: 14px !important;;
    }


    .left {
        padding-left: 0;
        padding-right: 0;
    }

    .right {
        padding-left: 20px;
    }

}















/**
    Alert
 */

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 10px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error-text{
    color: #f20;
    text-align: center;
    width: 100%;
    display: block;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}








/*
    MULTI SELECT
 */

.flag-img{
    position: relative;
    top: 10px;
    z-index: 50;
    left: 5px;
    height: 12px;
    padding-right: 10px;
}



.multiselect{
    width: 100% !important;
    z-index: 10 !important;
    height: 30px;
    min-height: 30px;
}

.multiselect input{
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    color: white;
    min-height: 20px !important;
    height: 20px !important;
    font-size: 16px;
}

.multiselect .multiselect__placeholder{
    padding-top: 8px;
}

.multiselect .multiselect__single{

    top: 6px;
    z-index: 3 !important;
    background-color: transparent;

    color: var(--secondary-color);
    width: 100%;
    font-size: 14px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.multiselect__content-wrapper {
    z-index: 3 !important;
}


.multiselect__tags {
    border-radius: 0;
    border: none;
    background-color: var(--multiselect-bg-color);
    padding: 0 40px 0 10px;

    min-height: 30px;
    height: 30px;
}

.multiselect__input{
    top: 6px;
    background-color: transparent !important;
}

.multiselect__input::placeholder{
    color: var(--secondary-color);
    opacity: 1; /* Firefox */
    font-size: 14px;
}

.multiselect__select{
    height: 36px;
    top: -3px;
}

.option__title{
    color: black;
}

.option__desc{
    line-height: 13px;
    font-size: 14px;
}

.option__flag{
    display: inline-block;
    position: relative;
    verticalAlign: middle;
    padding-top:11px !important;
}

.header .logo {
    height: 40px;
    display:inline-block;
    padding-right: 10px;
}