/* -----------------------
Base styles
------------------------*/

body {
    margin: 0;
    padding: 0;
    color: #333;
    font: 1em/1.2 "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

a{
    text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 {
    font-size: 2.25em;
}

/* 36px */
h2 {
    font-size: 1.75em;
}

/* 28px */
h3 {
    font-size: 1.375em;
}

/* 22px */
h4 {
    font-size: 1.125em;
}

/* 18px */
h5 {
    font-size: 1em;
}

/* 16px */
h6 {
    font-size: .875em;
}

/* 14px */

p {
    margin: 0 0 1.5em;
    line-height: 1.5;
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 2em;
    border-left: 5px solid #eee;
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

th, td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

a:link {
    color: royalblue;
}

a:visited {
    color: purple;
}

a:focus {
    color: black;
}

a:hover {
    color: green;
}

a:active {
    color: red;
}

/* -----------------------
Layout styles
------------------------*/

.header {
    color: #0d052f;
    background: white;
    padding: 2px 20px 0;
}

/* Create two unequal columns that floats next to each other */
.column {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    margin: 0 auto;
}

.left {
    display: inline-block;
    width: 65%;
    padding-right: 30px;
}

.right {
    display: inline-block;
    width: 35%;
}

.row{
    padding-top: 20px;
    margin: auto;
    max-width: 900px;
    display: flow-root;
}

/* Clear floats after the columns */
.row:after {
}

.header-heading {
    margin: 0;
}

/**
    logo
 */
.header .logo {
    height: 40px;
    display:inline-block;
    padding-right: 10px;
}

.header .logoText{
    display:inline-block;
    font-size: 28px;
    position: relative;
    top: -10px;
}

.header .headerRight {
    display: inline-block;
    float: right;
}


.headerRight a{
    padding-right: 10px;
}

.header .country-select{
    display: inline-block;
    min-width: 300px;
}

.nav-bar {
    background: #fdfcff;
    padding: 0 10px 2px;
    font-size: 12px;
}


.footer {
    color: black;
    background: #ffeded;
    padding: 1em 1.25em;
}

/* -----------------------
Nav
------------------------*/

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    margin: 0;
}

.nav a {
    display: block;
    padding: .7em 1.25em;
    text-decoration: none;
    border-bottom: 1px solid gray;
}

.sticky{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.sticky + .layoutContent {
}


/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.btn {
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff !important;
    background-color: green;
}

.btn:focus {
    color: #fff !important;
    background-color: black;
}

.btn:active {
    color: #fff !important;
    background-color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em) {
    .header {

    }

    .nav-bar {
    }

    .content {
        padding: 2em 3em;
    }

    .footer {
        padding: 2em 3em;
    }

    .nav li {
        display: inline;
        margin: 0 1em 0 0;
    }

    .nav a {
        display: inline;
        padding: 0;
        border-bottom: 0;
    }
}


/**
    HERO
 */

.hero {
    display: block;
    flex-direction: row;
    height: 192px;
    min-width: 260px;
    background: url( https://styles.redditmedia.com/t5_2cneq/styles/bannerBackgroundImage_6yzzdjhguh521.jpeg?format=pjpg&s=8c0a444089bdc858bd2764f5376352e7c5d27f5a) center top / cover no-repeat rgb(0, 112, 193);
    background-position: center top;
    margin: 0px auto;
}

.heroBox{
    margin-left: 50px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.hero .logo{
    top: -50%;
    position: absolute;

    float: left;
    margin-right: 8px;
    box-sizing: border-box;
    height: 56px;
    width: 56px;
    background: url( …) center center / 100% no-repeat rgb(32, 84, 147);
    border-radius: 32px;
    background-position: center center;
    background-repeat: no-repeat;
}

.hero .title{
    padding-left: 70px;
    color: white;
}


/** Forms
 */
textarea,
input[type=text], select {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button,
input[type=submit],
input[type=button] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #45a049;
}

button{
    background-color: #5cbcf6;
}

button:hover{
    background-color: #0e83cd;
}

form {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 10px;
}

.formLink{
    display: inline;
    white-space: nowrap;
}

.commentSlug{
    font-size: 12px;
}

/**

    STICKY BUTTONS

 */

.btn-floating-container {
    right: 50px;
    bottom: 50px;
    position: fixed;
}

.btn-floating {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(245, 245, 245, 0.075);
    text-align: center;
    padding: 0px;
    font-size: 24px;
    margin-left: 10px;
}


/*
    MODALS
 */

.modalBackground{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 26, 26, 0.9);
}

.modal {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff5f5;
    border: solid 1px #000000;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 0;
    width: 600px;

}

.close-button {
    position: absolute;
    top: -30px;
    right: 0;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #fff5f5;
    border: solid 1px #000000;
    color: black;
}

.close-button:hover {
    background-color: #4c4c4c;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/**
    TOPIC
 */

.topic{
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(245, 243, 243);
    width: 100%;
    padding: 2px 5px 2px 5px;
    background-color: #f1faff;
    margin-bottom: 5px;

}

.topicSeparator{
    margin-bottom: 25px;
}

.comment{
    background-color: white;
}

.topicBox{
    display: grid;
    /*grid-template-columns: 25px 1fr;*/
}

.commentBox{
}

.topicComments{
    padding-left: 20px;
    padding-right: 20px;
}

.topic h2{
    font-size: 20px;
}

.topicBox .topicContent .author{
    padding-bottom: 5px;
}

.topicBox .topicContent .author a,
.topicBox .topicContent .author span {
    display: inline-block;
    padding-right: 10px;
    font-size: 12px;
}

.topicBox .topicContent .author span{
    color: #d5cccc;
}

.topicImage{
    max-width: 150px;
    max-height: 200px;
}

.topicImageWrap{
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}

.topicTextWrap{
    padding-top: 10px;
}

.topicBody{
    white-space: pre-wrap;
    line-height: 1;
    margin-bottom: 0;
}

.topicButtons{
    display: inline-block;
    float:right;
    margin-left: 30px;
}

.topicButtons span{
    color: #6c6a6a !important;
    cursor: pointer;
}


/***
        VOTING
 */
.votingBox{
    padding-left: 0px;
    padding-top: 10px;
}


.upvote {
    width: 0; height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #d7d9db;
    margin-bottom: 10px;
}

.upvote:after {
      width: 5px;
      height: 6px;
      background-color: #d7d9db;
      content: '';
      position:absolute;
      margin-top: 8px;
      margin-left: -3px;

  }

.votingBox span{
    padding-left: 3px;
    color: #d7d9db;
}

.downvote {
    margin-top:10px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 8px solid #d7d9db;
    margin-left: -1px;
}

.downvote:after {
  width: 5px;
  height: 6px;
  background-color: #d7d9db;
  content: '';
  position:absolute;
  margin-left: -2px;
  margin-top: -14px;
}

/**
    Right Sidebar
 */

.rightSidebar{
    width: 100%;
}

.stickySidebar{
}

/**
    Alert
 */

.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 10px 10px 10px;
    margin:10px;
}

.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}

.error {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}

