.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log
.idea
*.iml
accounts.txt

consts/consts-secret.js

public/hidden
package-lock\.json
yarn.lock

certificates/ca_bundle.crt
certificates/certificate.crt
certificates/private.key

passwords.md