:root {
    --topic-bg-color: #fff;
    --topic-border-color: #dfe5ec;
    --topic-author: transparent;
    --topic-author-unread: #f7f7f7;
    --topic-line-border-color: dotted #b7b7b7;

    --topic-header-color: #5a5a5acc;

    --topic-body--hover: #fdfdfd;
    --topic-body-border: solid 2px #ffffff;
    --topic-body-border--hover: solid 2px #f5f5f5;
}

[data-theme="dark"] {
    --topic-bg-color: #3c3c3c;
    --topic-border-color: #444444;
    --topic-author: transparent;
    --topic-author-unread: #484848;
    --topic-body--hover: #373737;
    --topic-line-border-color: dotted #4d4d4d;

    --topic-header-color: #adadad;

    --topic-body-border: solid 2px #3c3c3c;
    --topic-body-border--hover: solid 2px #464646;
}

.topic{
    width: 100%;
    background-color: var(--topic-bg-color);
    border: 1px solid var(--topic-border-color);
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 0;
    box-sizing: border-box;

    display: grid;
    grid-template-columns: 40px 1fr;

    position: relative;
}

.topic-line:after{
    content: '';
    width: 0;
    position: absolute;
    border: 0.5px var(--topic-line-border-color);
    top: 60px;
    bottom: 15px;
    left: +19px;

    z-index: 0;
}

.topic h2{
    font-size: 20px;
}


.topic .author{
    background: var(--topic-author);
    padding: 0 7px 0 0;
}

.topic-body .author {
    padding-left: 10px;
}

.topic .unread{
    background: var(--topic-author-unread);
}

.topic .author a{
    padding-right: 0!important;
}

.topic .author a,
.topic .author .details {
    padding-right: 10px;
    font-size: 12px;
}

.topic .author .details{
    color: var(--topic-header-color);
}


.topic .author .sys-admin{
    color: red;
}

.topic .author .moderator{
    color: blue;
}

.topic .author .normal{
    color: #439cde;
    font-weight: normal;
}


.topic-content{
    display: block;
    margin-top: 10px;
    padding: 0 10px;
}

.topic-body{
    border: var(--topic-body-border);
}

.topic-body:hover{
    background-color: var(--topic-body--hover);
    border: var(--topic-body-border--hover);
    transition: all 0.2s ease
}


.topic-has-image {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-column-gap: 10px;
}

.topic-text-wrap{
    padding-left: 5px;
    color: var(--font-color)
}

.topic-text-wrap .title{
}

.topic-text-wrap .body-parent{

}

.topic-text-wrap .body{
    white-space: pre-wrap;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 10px;
    color: var(--font-color)
}

.topic-comments{
    padding-top: 10px;
}

.topic-buttons{
    float:right;
}

.topic-buttons i{
    font-size: 14px;
    margin-right: 10px;
}

.topic-buttons i:last-child{
    margin-right: 0;
}

.topic-buttons .delete{
    color: red;
}

.topic-buttons .action-button{
    color: #787878;
    cursor: pointer;
    font-size: 12px;
}

.topic-reply-id{
    margin-left: 8px;
    padding: 0;
    color: #787878;
    cursor: pointer;
    font-size: 12px;
    margin-top: 5px;
}

.topic-bottom-buttons{
    padding-top: 10px;
}

.topic-bottom-buttons div{
    padding-right: 10px;
}
.topic-bottom-buttons i,
.topic-bottom-buttons span{
    font-size: 14px;
    padding-right: 5px;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {

    .topic {
        grid-template-columns: 20px 1fr;
        padding-right: 5px;
    }

    .topic-line:after{
        left: 10px;
    }

    .topic-content{
        padding-right: 0;
    }

    .topic-has-image {
        grid-template-columns: 1fr;
    }

}
